.PasswordForm {
  margin-bottom: 2rem;
}

.PasswordForm-field {
  margin-bottom: 1rem;
}

.PasswordForm-field > label, .PasswordForm-field > input {
  display: inline-block;
}

.PasswordForm-field > label {
  width: 27%;
}

.PasswordForm-field > input {
  border: none;
  border-radius: .25rem;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.10);
  box-sizing: border-box;
  color: rgba(0,0,0,.87);
  padding: .5rem;
  width: 73%;
}

.PasswordForm-button {
  background: #ffd43b;
  border: none;
  border-radius: .25rem;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.12), 0 2px 4px 0 rgba(0,0,0,0.08);
  color: rgba(0,0,0,.87);
  cursor: pointer;
  font-weight: 500;
  padding: .5rem;
  width: 73%;
}
